body {
	margin: 0px;
}


p {
	margin: 5px;
}

.grid-container{
	display: grid;
	grid-template-columns: repeat(1, 95vw);
	margin-bottom: 20px;
}

h2 {
	float: none;
	text-align: center;
}

.accordian {
	padding: 0;
	margin: 20px auto;
}

.accordian:hover {
	margin: 30px auto;
}

figure {
	margin:10px;
}

.date {
	margin-left: 5px;
}

.links {
	text-align: center;
}

.links a {
	color: #ffffff;
}

@media only screen and (min-width: 768px){
	.full {
		width: 100%;
		margin: 0 auto;
	}

	.grid-container {
		display: grid;
		grid-template-columns: repeat(3, 250px);
		justify-content: center;

	}
}

@media only screen and (min-width: 1000px) {
	.grid-container {
	grid-template-columns: repeat(3, 25vw);
	}

}
