html {
    scroll-behavior: smooth;
}

body,h1 {
	margin: 0;
}

.article-name {
        text-align: center;
}

h2 {
	float: none;
	font-size: 20px;
}

.container {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    font-family: "PT Sans" sans-serif;
    background: #cdcdcd;
}

.question-space {
        background: #cdcdcd;
        width:100%;
        height: fit-content;
}

.answer-space {
        background: #000000;
        width: 100%;
        height: fit-content;
}

.article-image{
	margin: 0px auto 10px;
	width: 100%;
}

p {
	margin: 10px;
}

.image-left, .image-right {
	float: none;
} 


@media only screen and (min-width: 768px){
	h2{
		font-size: 20px;
	}
	.container {
		margin: 0 auto;
		width: 60%;
	}

	.article-image{
	margin: 5px 15px 10px 0;
	width: 40%;
	}

	.image-left {
	float: left;
	} 

	.image-right {
	float: right;
	}
}

@media only screen and (min-width: 1000px) {
	.container {
		margin: 0 auto;
		width: 70%;
	}
	
}









