* {
    font-family: Helvetica, Ariel, "Courier New";
}

header {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
    background: #ffffff;
}

.sticky {
  position: fixed;
  background: #ffffff;
  width: 100%;
  top: 0;
}


.logo {
    width: 72%;
    margin-bottom: 10px;
    text-align: center;
}

.logo-image {
    width: 72%;
    transition: width 0.2s ease-in-out;
}

.logo-image-scroll {
    width: 52%;
}

.category-links {
    display: none;
}

.email-container {
    margin : 10px;
}

.sign-up {
    color: #ffffff;
    background: #000000;
    box-sizing: content-box;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

main {
    width: 100%;
    background: #ffffff;
/*    background-image: linear-gradient(#ffffff,#f2f2f2)*/
}

.swiper-container {
      width: 100%;
      height: fit-content;
      padding-top: 20px;
    }

    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 500px;
      text-align: center;
      box-shadow: 0 15px 10px 5px rgba(0, 0, 0, 0.6);
      background: #000000;
      height: fit-content;
    }

    /*newspaper backhground image*/
    .news-background {
        background-image: url("../img/news-background.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .news-image {
      width: 50%;
    }

    /*.swiper-slide figure {
        margin: 10px;
    }*/

    .swiper-slide h3 {
        font-size: 20px;
        margin: 5px;
        color: #ffffff;
        font-weight: bolder;
    }

    .swiper-slide p {
        margin: 10px;
        color: #ffffff;
        font-size: 15px;
    }

    .news-links{
        color: #ffffff;
        text-align: center;
        font-size: 20px;
    }

    .swiper-button-next, .swiper-button-prev {
        display: none;
    }

.flex-container {
    display: flex;
    flex-direction: column; /*vertical alignment for mobile devices*/
    clear: both;
    align-items: center;
}

h2 {
    font-size: 30px;
    padding: 10px;
    margin: 5px;
    float: left;
}

.accordian {
    width: 210px;
    height: fit-content;
    margin: 20px 10px 0;
    padding: 10px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease-in-out;
    background: #d9d9d9;   
    border-radius: 20px;
    z-index: 1;
}

.accordian-content {
    display: none;
    transition: 1.5s ease-in-out;
}

.accordian:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
    -webkit-transform : scale(1.1);
    -ms-transform : scale(1.1);
    transform: scale(1.1);
    text-align: center;
    margin: 20px 30px 30px;
    z-index: 100;
}

.accordian:hover .accordian-content {
    display: block;
    text-align: center;

}

.date {
    float: left;
}

.image{
    height: 115px;
    width: 100%;
}

h3 {
    font-size: 25px;
    margin: 5px;
    color: #000000;
}

p {
    text-align: -webkit-auto;
    color: #000000;
}

.more-link {
    text-align: center;
    font-size: 20px;
    background: #ffffff;
    color: #000000;
    float: right;
    margin: 20px 5px 0 0;
    border: none;
    transition: 0.2s ease-in-out;
}

.more-link:hover {
    background: #000000;
    color: #ffffff;
    border-radius: 5px;
}

.accordian a {
    color: #000000;
}    

footer {
    display: inline-flex;
    flex-direction: column;
    background: #ffffff;
}

footer div {
    text-align: center;
    align-self: center;
    margin-bottom: 10px;
}

footer h3 {
    color: #000000;
    font-size: 50px;
}

footer p {
    color: #000000;
    text-align: justify;
    padding: 0 10px;
}

.about-website {
	width: 100%;
    margin: 20px 0;
}

.footer-link {
    display: flex;
    flex-direction: column;
}

.footer-link a {
	margin: 5px;
	transition: 0.3s ease-in-out;
}

.footer-link a:hover {
	color: #fc0303;
}

.social-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.fa {
    padding: 10px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 0 5px 5px 0px;
    }

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}


.fa-instagram {
  background: #E6005C;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

@media only screen and (min-width: 768px){
	header {
        flex-direction: row;
    }

    .logo {
    width: 40%;
    margin: 5px;
    text-align: left;
    }

    .logo-image {
        width: 40%;
        transition: width 0.2s ease-in-out;
    }

    .logo-image-scroll {
        width: 30%;
    }

    h1 {
        font-size: 60px;
        text-align: center;
    }

    h2 {
        font-size: 40px;
    }

    .social-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }

    .category-links {  
        display: inline-flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .category-links div {
    padding: 5px;
    font-size: 100%;
    color: #adaca6;
    transition: .4s ease-in-out;
    }

    .category-links div:hover {
    color: #000000;
    }

    .sign-up {
        width: 55px;
    }

    .swiper-button-next, .swiper-button-prev {
        display: block;
    }


    .flex-container {
    flex-direction: row;
    }

    .accordian {
    width: 210px;
    height: fit-content;
    margin: 0px 10px 10px;
    }
    
    .more-link {
        margin: 30px;
    }

    footer {
        flex-direction: row;
    }

    .about-website {
        width: 50%;
        margin: 0;
    }

    footer div {
        margin-bottom: 0;
    }

    .social-icons {
        flex-direction: column;
        margin-left: 10px;
    }


}

@media only screen and (min-width: 1000px) {
    header {
        display: flex;
        flex-direction: row;
    }
    h1 {
        font-size: 90px;
    }

    .social-icons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    }

    h2 {
    font-size: 55px;
    }

    .category-links div {
        padding: 10px;
    }

    .category-links a {
        font-size: 95%;
    }

    .full {
        width: 1000px;
        margin: 0 auto;
    }

    .accordian {
        width: 300px;
    }

    .more-link {
    margin: 30px 10px 10px;
    }

    .about-website {
        width: 40%;
    }
}
