#zara-logo {
	float: none;
	width: 90%;
}

@media only screen and (min-width: 768px){
	#zara-logo {
		float: right;
		width: 50%;
		margin: 15px;
	}
}

@media only screen and (min-width: 1000px) {
	ol {
		width: 15vw;
	}

	#zara-logo {
		width: 40%;
		margin: 10px 5px 10px 10px;
	}